/* TrocaImagensAutomatica.module.css */
.carouselContainer {
    position: relative;
    width: 50vw; /* 50% da largura da tela */
    height: 80vh; /* Ajuste conforme necessário */
    overflow: hidden;
    align-items: flex-start; /* Alinha a parte superior da imagem com o topo do contêiner */
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column; 
  }
  
  .carouselInner {
    display: flex;
  }
  
  .carouselItem {
    flex: 0 0 50vw; /* 50% da largura da tela */
    height: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
  }
  
  @media (max-width: 768px) {
    .carouselContainer {
      width: 50%;
      height: 50vh; 
      justify-content: flex-start;
    }
    .carouselItem {
      flex: 0 0 100%; /* Ocupa 100% da largura da tela */
    }
  }